@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: 255 255 255;
    --red: 255 0 0;
    --black: 51 51 51;
    --strong-gray: 77 77 77;
    --gray: 128 128 128;
    --light-gray: 230 230 230;

    --background: var(--white);
    --foreground: var(--black);
    --primary: 19 165 60;
    --primary-foreground: 255 255 255;
    --destructive: var(--red);
    --destructive-foreground: 255 255 255;
    --success: 0 160 0;

    --rounded: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .headline {
    @apply text-2xl font-bold;
  }
}
